@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --orange: #FD6923;
    --dark-grey: #383838;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--orange);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
    font-weight: lighter;
    box-sizing: border-box;
}

body {
    background-color: black;
}

#content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.hero {
    height: 100vh;
    background-image: url(/images/car-images/hero-img.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-content {
    margin-left: 100px;
}

.hero-content a {
    text-decoration: none;
    color: black;
    font-size: 24px;
    background-color: var(--orange);
    padding: 15px 75px 15px 75px;
}

.slogan {
    justify-content: space-between;
    margin: 55px;
}

.slogan * {
    width: fit-content;
}

.slogan h2,
.hero-content h2 {
    font-size: 76px;
    font-weight: 300;
}

.slogan p {
    font-size: 36px;
    text-align: center;
    max-width: 1000px;
}

.showcase {
    display: flex;
    border-bottom: 1px solid var(--orange);
    align-self: center;
    max-width: 1752px;
    width: 100%;
}

.showcase > div {
    align-self: center;
}

.showcase h3 {
    font-size: 36px;
}

.showcase-active {
    border-bottom: 3px solid var(--orange);
    padding-right: 125px;
    padding-left: 25px;
}

.flex {
    display: flex;
    list-style: none;
    flex-flow: row nowrap;
}

.flex {
    color: white;
}

.flex li img {
    max-height: 77px;
}

.navbar {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    justify-content: space-between;
}

.navbar li {
    margin: 1rem;
}

.navbar li:last-of-type {
    margin-top: 0;
    margin-bottom: 0;
    align-self: center;
}

.navbar li:first-of-type {
    align-self: flex-end;
}

.navbar li:last-of-type img {
    max-height: 75px;
}

#footer {
    padding-top: 25px;
    background-image: linear-gradient(rgb(56, 56, 56, 1), rgb(32, 32, 32));
}

#footer *:not(.socials img) {
    margin-left: 100px;
}

#footer h1 {
    font-size: 3.5rem;
}

#footer p {
    color: white;
    font-size: 1.25rem;
    margin-bottom: 23px;
}

.socials {
    display: flex;
    max-width: 250px;
    justify-content: space-between;
    padding-bottom: 25px;
}

.socials img {
    width: 22px;
}

.nav-body {
    background-color: black;
    margin: 0;
}

.nav-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
}

.nav-items {
    display: flex;
    padding: 1.35rem;
    margin-left: 6rem;
    color: var(--orange);
    text-decoration: none;
    font-size: 64px;
}

.margin-r {
    margin-right: 100px;
}