@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --orange: #FD6923;
    --orangef: #fa8a56;
    --dark-grey: #383838;
    --h2: 75px;
    --h3: 57px;
    --customization-h3: 48px;
    --customization-h2: 52px;
    --customization-item: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--orange);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
    font-weight: lighter;
}

img {
    color: white;
    font-size: 24px;
}

body:not(.omit) {
    animation: fadeInAnimation ease 1.78s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background-color: black;
    overflow-x: hidden;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

a {
    transition: all 0.5s ease-out;
}

#content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.hero {
    height: 100vh;
    background-image: url(/images/car-images/hero-img.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.car-hero {
    height: 100vh;
    background-image: url(/images/car-images/car-collection-1.png);
    background-position: 25% 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-content {
    margin-left: 100px;
}

.hero-content a,
.showcase-main a,
.info a {
    font-weight: 400;
}

.info a,
.hero-content a,
.confirm,
.product > .purchasing > a {
    text-decoration: none;
    color: black;
    font-size: 24px;
    background-color: var(--orange);
    padding: 15px 75px 15px 75px;
    text-align: center;
}

.product .purchasing {
    margin-top: 55px;
}

.product > .purchasing > a {
    max-height: 34.4px;
    max-width: 131px;
}

.slogan {
    justify-content: space-between;
    margin: 55px;
    max-width: 1752px;
}

.slogan * {
    width: fit-content;
}

.info h2 {
    font-size: var(--h3);
}

.slogan h2,
.hero-content h2 {
    font-size: var(--h2);
    font-weight: 300;
}

.slogan p {
    font-size: 36px;
    text-align: center;
    max-width: 1000px;
}

.showcase {
    display: flex;
    align-self: center;
    max-width: 1752px;
    width: 100%;
    flex-flow: column;
}

.showcase div:first-child {
    align-self: center;
    width: 100%;
    border-bottom: 1px solid var(--orange);
}

.showcase h3 {
    font-size: 36px;
}

.showcase-main {
    width: 100%;
    background-image: url(/images/car-images/showcase-orange.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    margin-top: 55px;
}

.showcase-main > a {
    text-decoration: none;
    color: black;
    font-size: 24px;
    background-color: var(--orange);
    padding: 15px 75px 15px 75px;
    max-height: 34.4px;
    align-self: flex-end;
    margin-left: 55px;
    margin-bottom: 55px;
}

.showcase-active {
    border-bottom: 3px solid var(--orange);
    padding-right: 125px;
    padding-left: 25px;
}

.cards {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    max-width: 1752px;
    margin-bottom: 55px;
}

.row {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.row:first-child {
    margin-top: 55px;
    margin-bottom: 55px;
}

.row > section {
    width: 48%;
    border: 1px solid var(--orange);
    border-radius: 5px;
}

.row > section > p {
    color: white;
    font-size: 20px;
    padding-left: 38px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 75%;
}

.row > section > h3 {
    margin-top: 30px;
    color: white;
    font-size: 36px;
    padding-left: 50px;
}

.flex {
    display: flex;
    list-style: none;
    flex-flow: row nowrap;
}

.flex {
    color: white;
}

.flex li img {
    max-height: 77px;
}

.navbar {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    justify-content: space-between;
}

.navbar li {
    margin: 1rem;
}

.navbar li:last-of-type {
    margin-top: 0;
    margin-bottom: 0;
    align-self: center;
}

.navbar li:first-of-type {
    align-self: flex-end;
}

.navbar li:last-of-type img {
    max-height: 75px;
}

#footer {
    position: relative;
    padding-top: 25px;
    background-image: linear-gradient(rgb(56, 56, 56, 1), rgb(32, 32, 32));
    bottom: 0;
    left: 0;
    right: 0;
}

#footer *:not(.socials img) {
    margin-left: 100px;
}

#footer h1 {
    font-size: 3.5rem;
}

#footer p {
    color: white;
    font-size: 1.25rem;
    margin-bottom: 23px;
}

.socials {
    display: flex;
    max-width: 250px;
    justify-content: space-between;
    padding-bottom: 25px;
}

.socials img {
    width: 22px;
}

.nav-body {
    background-color: black;
    margin: 0;
}

.nav-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
}

.nav-items {
    display: flex;
    padding: 1.35rem;
    margin-left: 6rem;
    color: var(--orange);
    text-decoration: none;
    font-size: 64px;
}

.sub {
    text-indent: 155px;
}

.margin-r {
    margin-right: 100px;
}

.resources {
    height: 15vh;
    flex-direction: row;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right:75px;
}

.resources > div {
    display: flex;
    flex-flow: row nowrap;
    width: 360px;
    justify-content: space-between;
}

.resources > div > div > a:last-child {
    text-decoration: none;
    font-size: 38px;
    color: var(--orange);
}

.car-one,
.car-two,
.car-three {
    height:100vh;
    /* width: 100vw; */
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.info {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-flow: column nowrap;
}

.info * {
    margin-left: 55px;
}

.info h2 {
    margin-top: 55px;
}

.info p {
    font-size: 36px;
    color: white;
}

/* THE BACKGROUND FOR car-one (div) is found in the .car-hero class*/

.car-two {
    background-image: url(/images/car-images/car-collection-2-old.png);
}

.car-three {
    background-image: url(/images/car-images/car-collection-3.png);
}

.transition {
    background-image: url(/images/car-images/transition.png);
}

.half { 
    flex-flow: row nowrap;
    max-width: 100vw;
    width: 100vw;
    height: 45vh;
    margin-bottom: 0;
}

.home-news,
.home-store {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: 1px solid var(--orange);
}

.home-news a,
.home-store a {
    font-size: 42px;
    color: var(--orange);
    font-weight: 300;
    text-decoration: none;
}

.home-news {
    background-image: url(/images/misc/white-car-transparent.png);
}

.home-store {
    background-image: url(/images/misc/white-tee.png);
}

.card-power,
.card-battery,
.card-cab,
.card-wire {
    background-repeat: no-repeat;
    background-position: right;
    background-size: 6%;
    max-width: 90%;
}

.card-power {
    background-image: url(/images/misc/gear.svg);
}

.card-battery {
    background-image: url(/images/misc/battery.svg);
}

.card-cab {
    background-image: url(/images/misc/speed.svg);
}

.card-wire {
    background-image: url(/images/misc/wifi.svg);
}

.customization-body {
    overflow-y: hidden;
}

#customization-root {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: flex-end;
    background-image: url(/images/car-images/interior.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 115px);
}

#customization-root aside {
    display: flex;
    flex-flow: column nowrap;
    border: solid 1px var(--orange);
    border-bottom: none;
    width: 20vw;
    background-color: black;
    height: calc(100vh - 115px);
}

#customization-root h3 {
    font-size: var(--customization-h3);
    width: 50%;
    color: white;
}

.custom-nav {
    display: flex;
}

.custom-nav h3 {
    border-left: solid 1px var(--orange);
    padding-left: 55px;
}

.custom-nav h3:first-child {
    border-left: none;
}

.custom-nav h3:last-child {
    background-color: #383838;
}

.custom-nav > h3:not(.active) {
    border-bottom: 1px solid var(--orange);
}

.active {
    border-bottom: none;
}

.custom-items, .options {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    color: white;
    font-size: var(--customization-item);
}

.custom-items > ul > li:first-child {
    margin-top: 55px;
}

.custom-items > ul > li:not(.active-option) > a {
    margin-bottom: 25px;
    text-indent: 55px;
    padding-left: 55px;
    background-image: url(/images/misc/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 35px;
    text-decoration: none;
    color: white;
}

.custom-items > ul > li:not(.active-option) > a:hover {
    background-image: url(/images/misc/arrow-up.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 35px;
} 

.options p {
    text-indent: 110px;
}

.color-options {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    column-gap: 50px;
    row-gap: 25px;
    margin-left: 110px;
    align-self: center;
}

.color, .pick {
    width: 50px;
    height: 50px;
    border: 1px solid var(--orange);
    background-color: aqua;
    text-decoration: none;
}

.picked {
    border-color: transparent;
    box-shadow: 0 0 0 2px green;
}

.color:hover, .pick:hover {
    border-color: transparent;
    box-shadow: 0 0 0 2px blue;
}

.omit {
    animation: none;
}

.active-option {
    margin-bottom: 25px;
    text-indent: 55px;
    margin-left: 25px;
    background-image: url(/images/misc/arrow-left.svg);
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 35px;
    text-decoration: none;
    color: white;
}

.pick {
    background-color: red;
}

.confirm {
    margin-top: auto;
    margin-bottom: 55px;
    margin-right: 55px;
    align-self: flex-end;
}

#customization-root > aside > h4 {
    color: white;
    font-size: 48px;
    align-self: center;
}

.order-summary > h5 {
    color: white;
    font-size: 40px;
    text-align: center;
    margin-bottom: 55px;
}

.order-summary > ul {
    list-style: none;
    margin-left: 55px;
}

.order-summary > ul > li > p {
    color: white;
    font-size: 36px;
}

.grid > div {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 36px;
    height: 500px;
    width: 500px;
    border: 1px solid var(--orange)
}

.grid > div > a { 
    color: white;
    text-decoration: none;
    height: 500px;
    width: 500px;
    text-align: center;
}

.grid {
    margin-top: 55px;
    margin-bottom: 55px;
    display: grid;
    grid-template-columns: 500px 500px;
    column-gap: 55px;
    row-gap: 55px;
}

.dropdown {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s;
}

li:focus-within a {
    outline: none;
}

.nav-content ul li:hover > ul,
.nav-content ul li:focus-within > ul,
.nav-content ul li ul:hover,
.nav-content ul li ul:focus,
.custom-items ul li:hover > ul,
.custom-items ul li:focus-within > ul,
.custom-items ul li ul:hover,
.custom-items ul li ul:focus {
    max-height: 400px;
    opacity: 1;
    display: block;
    transition: all 0.5s;
}

.nav-content ul li ul li {
    clear: both;
    width: 100%;
}

.custom-items ul > li {
    margin-left: 55px;
}

.custom-items * {
    list-style: none;
    color: white;
    text-decoration: none;
}

.nav-content > ul {
    width: 40%;
}

.product-main {
    display: flex;
    margin-inline: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 1920px;
}

.product {
    display: flex;
    flex-flow: column nowrap;
    align-self: center;
}

.product-main > img {
    width: 750px;
}

.product-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
}

.product-header h2 {
    font-size: 72px;
}

.product-header h3 {
    font-size: 64px;
}

.product-description p {
    font-size: 24px;
    color: white;
    width: 75%;
    text-indent: 55px;
}

.showcase-main > a:hover,
.hero-content > a:hover {
    background-image: linear-gradient(45deg, var(--orange), var(--orangef));
}

.purchasing { 
    max-width: 877px;
}

.quantity {
    align-self: flex-end;
    display: flex;
    color: white;
    align-items: center;
    justify-content: flex-end;
}

.quantity a, .quantity p, .quantity img {
    height: 48px;
}

.quantity > a {
    width: 48px;
}

.quantity p {
    font-size: 24px;
    margin-left: 15px;
    margin-right: 15px;
}

@media only screen and (max-width: 768px) {
    .hero {
        height: 80vh;
        background-image: url(/images/car-images/hero-img.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .slogan h2 {
        font-size: 32px;
        font-weight: 300;
    }

    .slogan p {
        font-size: 24px;
        text-align: center;
        max-width: 1000px;
    }

    .nav-items {
        font-size: 42px;
    }

    .nav-content > ul {
        width: 100%;
    }

    .row {
        display: flex;
        flex-flow: column;
    }

    .row > section {
        border: 1px solid var(--orange);
        border-radius: 5px;
        width: 100%;
        margin-bottom: 55px;
    }

    .cards {
        margin-bottom: 0;
    }

    .row:first-child {
        margin-bottom: 0;
    }

    .half { 
        flex-flow: column nowrap;
        max-width: 100vw;
        width: 100vw;
        margin-bottom: 0;
    }

    .home-news, .home-store {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        border: 1px solid var(--orange);
        width: 100%;
        height: 100%;
    }

    #customization-root {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
        align-items: flex-end;
        background-image: url(/images/car-images/interior.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: calc(100vh - 115px);
    }

    #customization-root aside {
        display: flex;
        flex-flow: column nowrap;
        border: solid 1px var(--orange);
        border-bottom: none;
        width: 100vw;
        background-color: black;
        height: calc(100vh - 115px);
        margin-top: calc(100vh - 115px);
    }

    .order-summary > h5 {
        color: white;
        font-size: 40px;
        text-align: center;
        margin-bottom: calc(55px / 2);
    }

    .grid {
        margin-top: 55px;
        margin-bottom: 55px;
        display: flex;
        flex-flow: column;
    }
}

@media only screen and (max-width: 768px) {

}